.contact-form {
  width: 100%;
  margin-top: 20px;
  form {
    ul {
      padding: 0;
      margin: 0;

      li {
        padding: 0;
        margin: 0;
        list-style: none;
        margin-bottom: 10px;
        overflow: hidden;
        display: block;
        position: relative;
        opacity: 0;
        animation: fadeInUp 2s 2s;
        animation-fill-mode: forwards;
        clear: both;
      }
      .half {
        width: 49%;
        margin-left: 2%;
        float: left;
        clear: none;

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
  input[type="text"],
  input[type="email"] {
    width: 100%;
    border: 0;
    background: #115173;
    height: 50px;
    font-size: 16px;
    color: white;
    padding: 0 20px;
    box-sizing: border-box;
  }
  textarea {
    width: 100%;
    border: 0;
    background: #115173;
    height: 50px;
    font-size: 16px;
    color: white;
    padding: 20px;
    min-height: 150px;
    box-sizing: border-box;
  }
  .flat-button {
    background: 0 0;
    color: #ffd700;
    font: 11px;
    letter-spacing: 3px;
    text-decoration: none;
    padding: 8px 10px;
    border: 1px solid #ffd700;
    float: left;
    border-radius: 4px;
  }
}
.info-map {
  position: absolute;
  background-color: black;
  top: 50px;
  right: 30%;
  z-index: 99999;
  width: 267px;
  padding: 20px;
  color: white;
  font-family: "Helvetica";
  font-size: 17px;
  font-weight: 300;
  opacity: 0;
  animation: fadeIn 1s 1.5s;
  animation-fill-mode: forwards;
  span{
    font-size: 16px;
    display: block;
    padding-top: 20px;
    color: #ffd700;

  }

}
.map-wrap{
  background: rgba(8,253,216,0.1);
  float: right;
  width: 53%;
  height: 100%;

}
.leaflet-container{
  width: 100%;
  height:100%;
position: relative;
opacity: 0;
animation: backInRight 1s 1.2s;;
animation-fill-mode: forwards;
}
@media (width >= 1201px) {
  .contact-page .text-zone {
    left: 12%;
    top: 9%;
    transform: none;
}
.contact-form form ul{
  bottom: auto;
  left: -5%;
}
.info-map{
  right: 5px;
}
.map-wrap{
  width: 50%;
}
}
@media (1025px <= width <= 1200px) {
  .contact-page .text-zone {
    left: 12%;
    top: 9%;
    transform: none;
}
.contact-form form ul{
  bottom: auto;
  left: -5%;
}
.info-map{
  right: 5px;
  width: 200px;
  top: 25px;
}
.map-wrap{
  width: 50%;
}
}
@media (769px <= width <= 1024px) {
  .contact-page .text-zone {
    left: 12%;
    top: 9%;
    transform: none;
}
.contact-form form ul{
  bottom: auto;
  left: -5%;
}
.info-map{
  right: 0;
  width: 200px;
  top: 0;
}
.map-wrap{
  width: 50%;
}
.contact-page .text-zone h1{
  font-size: 40px;
}
p{
  font-size: 10px;
}
}
@media (481px <= width <= 768px) {
  .contact-page .text-zone {
    left: 20%;
    top: 5%;
    transform: none;
    width: 75%;
}
.contact-form form ul .half {
  width: 48%;
  margin-left: 0;
  margin-right: 5px;
}
.contact-form form ul{
  bottom: auto;
  left: -5%;
}
.info-map{
  right: 0;
  width: 150px;
  height: 75px;
  top: 0;
  font-size: 12px;
  padding: 10px;
}
.info-map span {
  font-size: 10px;
  display: block;
  padding-top: 5px;
  color: #ffd700;
}
.map-wrap{
  position: absolute;
  right: 2%;
  width: 80%;
  height: 40%;
  bottom: 2%;
}
.contact-page .text-zone h1{
  font-size: 40px;
}
.contact-form form ul .btn{
  position: absolute;
  top: 70%;
}
p{
  font-size: 10px;
}
}
@media (320px <= width <= 480px) {
  .contact-page .text-zone {
    left: 23%;
    top: 5%;
    transform: none;
    width: 75%;
    h1{
      font-size: 30px !important;
    }
}
.contact-form form ul .half {
  width: 48%;
  margin-left: 0;
  margin-right: 5px;
}
.contact-form form ul{
  bottom: auto;
  left: -5%;
}
.info-map{
  right: 0;
  width: 150px;
  height: 75px;
  top: 0;
  font-size: 12px;
  padding: 10px;
}
.info-map span {
  font-size: 10px;
  display: block;
  padding-top: 5px;
  color: #ffd700;
}
.map-wrap{
  position: absolute;
  right: 2%;
  width: 80%;
  height: 40%;
  bottom: 3%;
}
.contact-page .text-zone h1{
  font-size: 40px;
}
.contact-form form ul .btn{
  position: absolute;
  top: 60%;
}
.contact-form textarea{
  min-height: 100px;
  font-size: 14px;
}
.contact-form input{
  font-size: 14px !important;
}
}
